/* *, *::before, *::after {
    box-sizing: border-box;
} */

body {
    margin: 0;
    background-color: rgb(226, 220, 209);
}

img {
    border-radius: 3%;
    object-fit: contain;
}

.galleries-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.gallery {
    display: flex;
    justify-content: center;
}

.carousel {
    width: 35vw;
    height: 30vh;
    position: relative;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    display: flex;
    align-self: center;
    overflow: hidden;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    /* top: 50%;
    transform: translateY(-50%); */
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 5%;
    padding: 0 .5rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
}

.carousel-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.random-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-picture {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.random-picture-description {
    margin: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
}
.logo-container {
    margin: 25px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .carousel {
        width: 90vw;
        height: 25vh;
        position: relative;
        margin: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-top:35px;
        margin-bottom:40px; */
    }

    .logo {
        max-width: 30vw;
        height: auto; 
    }

    .random-picture-image {
        width: 90vw;
        height: auto;
    }

    .random-picture-description {
        font-size: 150%;
    }
}

@media screen and (min-width: 600px) {
    .carousel {
        width: 50vw;
        height: 30vh;
        /* margin: 20px; */
    }

    .logo {
        max-width: 25vw;
        height: auto; 
    }

    .random-picture-image {
        width: 90vw;
        height: auto;
    }  
}

@media screen and (min-width: 768px) {
    .carousel {
        width: 40vw;
        height: 30vh;
        /* margin: 20px; */
    }
    
    .logo {
        max-width: 20vw;
        height: auto; 
    }

    .logo-container {
        margin: 10px;
    }

    .random-picture-image {
        width: 70vw;
        height: auto;
    }  
}

@media screen and (min-width: 992px) {
    .carousel {
        width: 40vw;
        height: 30vh;
        /* margin: 10px; */
    }

    .logo {
        max-width: 15vw;
        height: auto; 
    }

    .random-picture-image {
        width: 60vw;
        height: auto;
    }  
}

@media screen and (min-width: 1200px) {
    .carousel {
        width: 40vw;
        height: 30vh;
        /* margin: 10px;   */
    }

    .logo {
        max-width: 10vw;
        height: auto; 
    }

    .random-picture-image {
        width: 50vw;
        height: auto;
    }

    .random-picture-description {
        font-size: 250%;
    }
}